html *
{
    font-family: 'Titillium Web', sans-serif;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.footer {
    background-color: #323031;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: #61892f;
}

.jumbotron {
    padding: 70px 30px 30px 30px;
    margin: 0px auto;
    background-color: #1B2954;
    color: floralwhite;
}

.summary {
    color: floralwhite;
    font-size: large;
}

#HomePicture {
    width: 200px;
    padding:1px;
    border:2px solid #021a40;
    background-color: #25274D;
    border-radius: 7%;
}

.fa {
    color: aliceblue;
}

.content-color {
    color: #9fedd7;
}

#education {
    background-color: #2671B9;
}

#workEx {
    background-color: #3b8beb;
}

.work-ex-img {
    height: 150px;
    border:2px solid #021a40;
    border-radius: 7%;
}

#projects {
    background-color: #77a6f7;
}

#navName {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 700 !important;
}

.navbar-dark{
    background-color: #512DA8;
}

.social-buttons [class*="fa fa-"] {
    background-color: rgb(22, 148, 131);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 1px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}

.popover-dismiss {
    font-size: xx-large;
    background-color:  #3b8beb;
    color: #fff;
}

.popover-content {
    background-color: #1B2954;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(29, 10, 117, 0.9);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.text-faded{
    color:rgba(255,255,255,.7)
}

.project-category{
    font-size:18px;
    font-weight:600;
    padding-top: 20%;
}

.project-name {
    font-size:16px;
    font-weight:600;
}

#gallery {
    background-color: #3b8beb;
    padding-bottom: 50px;
}
.lazy {
    height: 400px;
    width: auto;
}

.slider {
    width: 50%;
    margin: auto;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: contain;
    width: 100%;
}